<div>
    {{#if actor.condition}}<b>{{actor.name}}</b> {{localize "pf2-flat-check.is"}} <b>{{actor.condition}}</b>.</br>{{/if}}
    {{#each targets as |target|}}
    <b>{{target.name}}</b> {{localize "pf2-flat-check.is"}} <b>{{target.condition}}</b> {{localize "pf2-flat-check.attacker"}}</br>
    {{/each}}
    {{localize "pf2-flat-check.FlatDC"}} <b>{{flatCheckDC}}</b>.
</div>
<div class="dice-roll">
<div class="dice-result {{flatCheckRollResultClass}}">
    <h4 class="dice-total flat-check">{{flatCheckRollResult}}</h4>
</div>
</div>